extends layout.pug

block content
  div(style=("background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url('/IMG_0450.JPG'); background-repeat: no-repeat; height: 100vh; background-position: center; background-size: cover"))
    .container-lg.my-4.px-4
      h1 Welcome! This is a site to view the buildings of Spokane's past.